ul.catalogue-personal-menu {
    display: grid;
    justify-content: flex-start;
}

.gallery-back-link {
    font-size: 1.05 em;
    color: rgb(164, 244, 255);
    text-decoration: none;
}

.gallery-back-link:hover {
    color:rgb(255, 255, 255);
}

.gallery {
    text-align: center;
    background-color: #353535;
    padding: 30px 0;
    margin: -20px 0;
    float: center;
    width: 100%;
    height: 50%;
}

.gallery h1 {
    text-align: center;
}

@media screen and (max-width: 960px) {
    .gallery {
        width: 100%;
    }
}