h1 {
    color: #fff;
    font-size: 60px;
    margin-top: 15px;
}

.contact-card {
    text-align: center;
    width: 60%;
    margin-bottom: 0;
    box-shadow: 10px 10px 56px -21px rgba(255, 255, 255, 1) inset;
    -webkit-box-shadow: 10px 10px 56px -21px rgba(255, 255, 255, 1) inset;
    -moz-box-shadow: 10px 10px 56px -21px rgba(255, 255, 255, 1) inset;
    color: rgb(246, 255, 118);
}

@media screen and (max-width: 960px) {
    .contact-card {
        width: 80%;
    }
    h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 786px) {
    
    .contact-card {
        width: 90%;
    }
    h1 {
        font-size: 45px;
    }
}